.logo {
  height: 300px;
  transform: rotate(0);
}

.animating {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
