{
  "parser": "@typescript-eslint/parser",
  "env": {
    browser: true,
    commonjs: true,
    es6: true,
    node: true,
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "react",
    "react-hooks",
    "jsx-a11y"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      jsx: true,
    }
  },
  "rules": {
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "prettier/prettier": [
      "error"
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
