{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "prettier/react"
  ],
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "prettier",
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "global-require": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-filename-extension": "off",
    "operator-linebreak": "off",
    "prettier/prettier": [
      "error"
    ]
  }
}
