.styles__nav--yZSf8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 1rem;
  background: var(--primary);
  border-bottom: 4px solid var(--primary-dark);
}

.styles__logoLink--2OUVE {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.styles__logo--1cQom {
  height: 50px;
  margin-right: 0.5rem;
  transform: rotate(45deg);
}

.styles__logoText--3cAbo {
  letter-spacing: 4px;
  margin: 0;
  text-transform: uppercase;
}


:root {
  --primary: #f28a30;
  --primary-dark: #dc7e2c;
  --primary-light: #fdf4ec;
  --alabaster: #fafafa;
  --mineshaft: #383838;
  --tundora: #404040;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: white;
  color: var(--mineshaft);
}

svg {
  fill: currentColor;
}

.styles__container--mFDL5 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1280px) {
  .styles__container--mFDL5 {
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--mineshaft);
    color: var(--alabaster);
  }
}

.styles__logo--3KfLi {
  height: 300px;
  transform: rotate(0);
}

.styles__animating--3DQYL {
  -webkit-animation: styles__spin--3oAMB 2s linear infinite;
          animation: styles__spin--3oAMB 2s linear infinite;
}

@-webkit-keyframes styles__spin--3oAMB {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes styles__spin--3oAMB {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.styles__heading--3QuA8 {
  color: var(--primary);
  font-weight: normal;
  margin: 1rem 0;
}

.styles__heading--3QuA8:hover:after {
  transform: scaleX(1);
}

.styles__column--_jI4u {
  margin-bottom: 2rem;
}

.styles__text--24F2L {
  margin: 0;
}

.styles__features--3dv5w {
  margin: 0;
  padding: 0;
}

.styles__features--3dv5w li {
  list-style: none;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.styles__code--Dzzmp {
  background-color: var(--primary-light);
  color: var(--primary);
  padding: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: normal;
}

.styles__keyword--3kT31 {
  color: var(--primary);
}

.styles__loader--3HswI {
  height: 200px;
  color: var(--primary-light);
  -webkit-animation: none;
          animation: none;
  transform: rotate(45deg);
}

.styles__info--L3kBu {
  margin-bottom: 3rem;
}

@media (min-width: 1024px) {
  .styles__grid--1agHe {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
    background-color: var(--alabaster);
    padding: 1rem;
    margin: 3rem 0;
  }

  .styles__heading--3QuA8 {
    margin-top: 0;
  }

  .styles__loader--3HswI {
    height: 350px;
  }

  .styles__column--_jI4u {
    justify-self: center;
  }
}

@media (prefers-color-scheme: dark) {
  .styles__grid--1agHe {
    background-color: var(--tundora);
    color: var(--alabaster);
  }

  .styles__code--Dzzmp {
    background-color: var(--tundora);
  }
}

.styles__notFound--3u_GX {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styles__notFound--3u_GX h1 {
  color: var(--primary);
}

.styles__image--VKezw {
  height: 300px;
}


/*# sourceMappingURL=main.css.map*/